expandable-panel-list {
    display:block;
    position:relative;
    .expandable-list-container {
        position:absolute;
        list-style: none;
        margin:0;
        padding:0;
        z-index:1;
        background-color:white;
        width:100%;
        li {
            padding:0 24px;
            line-height: 48px;
            cursor: pointer;
        }
    }
    .expandable-panel {
        background-color:white;
        opacity:0;
        z-index:0;
        position:relative;
        transition: opacity 0.25s step-end, z-index 0.25s step-end;
        &.open {
            opacity:1;
            z-index:2;
            position:absolute;
            top:0px;
            height:100%;
            width:100%;
            transition: opacity 0.25s step-start, z-index 0.25s step-start;
        }
    }
}
