@import '../../../../src/styles/main.scss';
@import '../../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin:0;
    padding:0;
}
main {
    padding:20px;
}
#demo-container {
    max-width:400px;
    padding:10px;
    background-color:silver;
    border: 1px solid rgba(0,0,0,0.25);
}