<md-toolbar>Angular Expandable Panel List</md-toolbar>
<main>
  <h2>Brought to you by <a href="https://www.inmoment.com/">InMoment</a></h2>
  <div id="demo-container">
    <expandable-panel-list>
      <expandable-panel [title]="'Section A'">
        Content
      </expandable-panel>
      <expandable-panel [title]="'Section B'">
        Content
      </expandable-panel>
      <expandable-panel [title]="'Section C'">
        Content
      </expandable-panel>
      <expandable-panel [title]="'Section D'">
        Content
      </expandable-panel>
      <expandable-panel [title]="'Section E'">
        Content
      </expandable-panel>
    </expandable-panel-list>
  </div>
</main>