<md-toolbar>Angular Expandable Panel List</md-toolbar>
<main>
  <h4>Demo</h4>
  <div id="demo-container">
    <expandable-panel-list>
      <expandable-panel>
        <expandable-panel-title>
          Section A
          <span class="close-icon"><i class="material-icons">close</i></span>
        </expandable-panel-title>
        <expandable-panel-content>Content</expandable-panel-content>
      </expandable-panel>
      <expandable-panel>
        <expandable-panel-title>
          Section B
          <span class="close-icon"><i class="material-icons">close</i></span>
        </expandable-panel-title>
        <expandable-panel-content>Content</expandable-panel-content>
      </expandable-panel>
      <expandable-panel>
        <expandable-panel-title>
          Section C
          <span class="close-icon"><i class="material-icons">close</i></span>
        </expandable-panel-title>
        <expandable-panel-content>Content</expandable-panel-content>
      </expandable-panel>
      <expandable-panel>
        <expandable-panel-title>
          Section D
          <span class="close-icon"><i class="material-icons">close</i></span>
        </expandable-panel-title>
        <expandable-panel-content>Content</expandable-panel-content>
      </expandable-panel>
      <expandable-panel>
        <expandable-panel-title>
          Section E
          <span class="close-icon"><i class="material-icons">close</i></span>
        </expandable-panel-title>
        <expandable-panel-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis sapien a metus convallis porttitor. Sed at aliquet dui, sit amet accumsan enim. In et rutrum tortor. Morbi euismod arcu in mauris ultricies, nec porttitor quam dictum. Nunc eu ex volutpat, elementum nibh non, tincidunt lectus. Morbi ligula magna, lobortis sit amet fermentum vel, malesuada vel leo. Curabitur egestas sagittis purus, vitae vestibulum nisl maximus vitae. Sed id mauris facilisis, commodo nunc quis, pretium nulla. Morbi dolor leo, faucibus et libero quis, luctus accumsan est. Quisque mattis congue ante sed accumsan.

Cras in accumsan nisl. Mauris ligula eros, mattis vel turpis sit amet, vestibulum sagittis orci. Morbi non accumsan nisi. Mauris ut ligula non libero euismod faucibus sed vel lorem. In non magna lacus. Vivamus eget vehicula enim. Suspendisse sollicitudin, orci id bibendum cursus, tellus mi scelerisque ipsum, sed venenatis risus metus id sem. Nullam mollis pulvinar iaculis. Suspendisse potenti. Donec ut turpis erat. Phasellus non egestas leo, condimentum volutpat felis. Nam dignissim velit non libero iaculis dictum. Sed tortor lorem, aliquet non orci quis, tincidunt dignissim turpis. Integer volutpat massa nec metus finibus ullamcorper.

Praesent efficitur ex id urna dignissim lobortis id sit amet nulla. Quisque sapien velit, condimentum eu eros molestie, cursus tempor orci. Phasellus pulvinar eleifend enim, vitae maximus eros facilisis vel. Fusce ultrices enim sed dolor porta, eget fermentum sapien semper. Ut lobortis risus facilisis nunc porttitor, nec mollis justo posuere. Suspendisse at dapibus erat. Aliquam sit amet aliquet velit, nec porttitor turpis. Fusce et turpis sit amet tellus consequat vulputate a ut ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce blandit eget lacus sit amet porta. Vestibulum et volutpat nunc, et euismod urna. Curabitur lacinia posuere vehicula. Suspendisse convallis mauris in metus rhoncus, at rutrum arcu volutpat. Vestibulum sit amet porttitor nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

Integer porta sit amet magna eget bibendum. Morbi eget tempus lacus. Ut at quam scelerisque, convallis justo ac, lacinia eros. Curabitur scelerisque vulputate nisi at hendrerit. Duis nec eros sem. Aliquam ultricies, lectus a semper feugiat, mi neque interdum sem, in auctor arcu arcu quis dolor. Donec tempor ut ante sit amet gravida. Vestibulum sit amet ligula risus. Cras fringilla vel mauris posuere tristique.

Nam in dui consectetur dui aliquet interdum nec et justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis venenatis, nulla ut rutrum fringilla, enim odio malesuada est, eu fermentum nisi sem at nulla. Donec ante nibh, sagittis eget ipsum hendrerit, vulputate ultricies mauris. Praesent urna risus, consectetur eu libero a, interdum malesuada eros. Etiam sed sem faucibus, facilisis neque sit amet, vehicula tortor. Proin nibh est, ullamcorper id ante non, tempus efficitur nibh. Maecenas maximus quis dolor nec ultrices.
        </expandable-panel-content>
      </expandable-panel>
    </expandable-panel-list>
  </div>
  <h5>Brought to you by <a href="https://www.inmoment.com/">InMoment</a></h5>
</main>